USE [master]
GO
/****** Object:  Database [TurnoyaDB]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE DATABASE [TurnoyaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TurnoyaDB', FILENAME = N'C:\SQL_DATA\TurnoyaDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TurnoyaDB_log', FILENAME = N'C:\SQL_DATA\TurnoyaDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TurnoyaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TurnoyaDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [uniqueidentifier] NOT NULL,
	[ReferenceNumber] [nvarchar](50) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[BusinessId] [uniqueidentifier] NOT NULL,
	[ServiceId] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NULL,
	[ScheduledDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[DepositAmount] [decimal](10, 2) NOT NULL,
	[DepositPaid] [bit] NOT NULL,
	[Notes] [nvarchar](1000) NULL,
	[WompiTransactionId] [nvarchar](100) NULL,
	[WompiReference] [nvarchar](100) NULL,
	[ReminderSent] [bit] NOT NULL,
	[ConfirmationSent] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ReferenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentStatusHistory]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentStatusHistory](
	[Id] [uniqueidentifier] NOT NULL,
	[AppointmentId] [uniqueidentifier] NOT NULL,
	[OldStatus] [nvarchar](20) NULL,
	[NewStatus] [nvarchar](20) NOT NULL,
	[ChangedBy] [nvarchar](50) NOT NULL,
	[Reason] [nvarchar](256) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessBreakTimes]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessBreakTimes](
	[Id] [uniqueidentifier] NOT NULL,
	[WorkingDayId] [uniqueidentifier] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
 CONSTRAINT [PK_BusinessBreakTimes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Businesses]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Businesses](
	[Id] [uniqueidentifier] NOT NULL,
	[OwnerId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](256) NULL,
	[Website] [nvarchar](256) NULL,
	[LogoUrl] [nvarchar](512) NULL,
	[CoverPhotoUrl] [nvarchar](512) NULL,
	[Address] [nvarchar](256) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](10) NOT NULL,
	[Latitude] [decimal](10, 7) NULL,
	[Longitude] [decimal](10, 7) NULL,
	[IsActive] [bit] NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[AverageRating] [decimal](3, 2) NOT NULL,
	[TotalReviews] [int] NOT NULL,
	[SubscriptionPlan] [nvarchar](50) NOT NULL,
	[SubscriptionStatus] [nvarchar](50) NOT NULL,
	[TrialEnds] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessImages]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessImages](
	[Id] [uniqueidentifier] NOT NULL,
	[BusinessId] [uniqueidentifier] NOT NULL,
	[ImagePath] [nvarchar](512) NULL,
	[ImageData] [varbinary](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessSchedules]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessSchedules](
	[Id] [uniqueidentifier] NOT NULL,
	[BusinessId] [uniqueidentifier] NOT NULL,
	[AppointmentDuration] [int] NOT NULL,
 CONSTRAINT [PK_BusinessSchedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessSettings]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessSettings](
	[Id] [uniqueidentifier] NOT NULL,
	[BusinessId] [uniqueidentifier] NOT NULL,
	[MaxNoShows] [int] NOT NULL,
	[BlockDurationDays] [int] NOT NULL,
	[AllowCancellation] [bit] NOT NULL,
	[FreeCancellationHours] [int] NOT NULL,
	[LateCancellationFee] [decimal](10, 2) NOT NULL,
	[BufferTime] [int] NOT NULL,
	[MaxAdvanceBookingDays] [int] NOT NULL,
	[MinAdvanceBookingMinutes] [int] NOT NULL,
	[SimultaneousBookings] [int] NOT NULL,
	[AcceptWompi] [bit] NOT NULL,
	[AcceptCash] [bit] NOT NULL,
	[AcceptCards] [bit] NOT NULL,
	[AcceptNequi] [bit] NOT NULL,
	[AcceptDaviplata] [bit] NOT NULL,
	[AcceptPSE] [bit] NOT NULL,
	[WorkingHours] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessTimeBlocks]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessTimeBlocks](
	[Id] [uniqueidentifier] NOT NULL,
	[WorkingDayId] [uniqueidentifier] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
 CONSTRAINT [PK_BusinessTimeBlocks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessWorkingDays]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessWorkingDays](
	[Id] [uniqueidentifier] NOT NULL,
	[BusinessScheduleId] [uniqueidentifier] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[IsOpen] [bit] NOT NULL,
 CONSTRAINT [PK_BusinessWorkingDays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeBreakTimes]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeBreakTimes](
	[Id] [uniqueidentifier] NOT NULL,
	[WorkingDayId] [uniqueidentifier] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
 CONSTRAINT [PK_EmployeeBreakTimes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [uniqueidentifier] NOT NULL,
	[BusinessId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Position] [nvarchar](100) NULL,
	[Bio] [nvarchar](1000) NULL,
	[Email] [nvarchar](256) NULL,
	[Phone] [nvarchar](50) NULL,
	[PhotoUrl] [nvarchar](512) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[PhotoData] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeSchedules]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSchedules](
	[Id] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[AppointmentDuration] [int] NOT NULL,
	[EmployeeId1] [uniqueidentifier] NULL,
 CONSTRAINT [PK_EmployeeSchedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeServiceAssignments]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeServiceAssignments](
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[ServiceId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EmployeeServiceAssignments] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC,
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTimeBlocks]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTimeBlocks](
	[Id] [uniqueidentifier] NOT NULL,
	[WorkingDayId] [uniqueidentifier] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
 CONSTRAINT [PK_EmployeeTimeBlocks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeWorkingDays]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeWorkingDays](
	[Id] [uniqueidentifier] NOT NULL,
	[EmployeeScheduleId] [uniqueidentifier] NOT NULL,
	[DayOfWeek] [int] NOT NULL,
	[IsOpen] [bit] NOT NULL,
 CONSTRAINT [PK_EmployeeWorkingDays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](256) NOT NULL,
	[ExpiresAt] [datetime] NOT NULL,
	[RevokedAt] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [uniqueidentifier] NOT NULL,
	[AppointmentId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[BusinessId] [uniqueidentifier] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[BusinessReply] [nvarchar](1000) NULL,
	[RepliedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[Reported] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [uniqueidentifier] NOT NULL,
	[BusinessId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Duration] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[RequiresDeposit] [bit] NOT NULL,
	[DepositAmount] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[PhotoUrl] [nvarchar](512) NULL,
	[DateOfBirth] [datetime] NULL,
	[Gender] [nvarchar](20) NULL,
	[NoShowCount] [int] NOT NULL,
	[TotalNoShows] [int] NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[BlockReason] [nvarchar](256) NULL,
	[BlockUntil] [datetime] NULL,
	[AverageRating] [decimal](3, 2) NOT NULL,
	[CompletedAppointments] [int] NOT NULL,
	[LastLogin] [datetime] NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[PhotoData] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WompiTransactions]    Script Date: 04/03/2026 03:55:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WompiTransactions](
	[Id] [uniqueidentifier] NOT NULL,
	[AppointmentId] [uniqueidentifier] NOT NULL,
	[WompiId] [nvarchar](100) NOT NULL,
	[Reference] [nvarchar](100) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[PaymentMethodType] [nvarchar](50) NULL,
	[CustomerEmail] [nvarchar](256) NULL,
	[CustomerName] [nvarchar](256) NULL,
	[WebhookReceived] [bit] NOT NULL,
	[WebhookData] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_BusinessId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_BusinessId] ON [dbo].[Appointments]
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_EmployeeId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_EmployeeId] ON [dbo].[Appointments]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Appointments_ReferenceNumber]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_ReferenceNumber] ON [dbo].[Appointments]
(
	[ReferenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_ServiceId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_ServiceId] ON [dbo].[Appointments]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_UserId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_UserId] ON [dbo].[Appointments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AppointmentStatusHistory_AppointmentId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_AppointmentStatusHistory_AppointmentId] ON [dbo].[AppointmentStatusHistory]
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusinessBreakTimes_WorkingDayId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_BusinessBreakTimes_WorkingDayId] ON [dbo].[BusinessBreakTimes]
(
	[WorkingDayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Businesses_OwnerId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Businesses_OwnerId] ON [dbo].[Businesses]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusinessImages_BusinessId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_BusinessImages_BusinessId] ON [dbo].[BusinessImages]
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusinessSchedules_BusinessId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BusinessSchedules_BusinessId] ON [dbo].[BusinessSchedules]
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusinessSettings_BusinessId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_BusinessSettings_BusinessId] ON [dbo].[BusinessSettings]
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusinessTimeBlocks_WorkingDayId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_BusinessTimeBlocks_WorkingDayId] ON [dbo].[BusinessTimeBlocks]
(
	[WorkingDayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BusinessWorkingDays_BusinessScheduleId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_BusinessWorkingDays_BusinessScheduleId] ON [dbo].[BusinessWorkingDays]
(
	[BusinessScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeBreakTimes_WorkingDayId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeBreakTimes_WorkingDayId] ON [dbo].[EmployeeBreakTimes]
(
	[WorkingDayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_BusinessId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Employees_BusinessId] ON [dbo].[Employees]
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_UserId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Employees_UserId] ON [dbo].[Employees]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeSchedules_EmployeeId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmployeeSchedules_EmployeeId] ON [dbo].[EmployeeSchedules]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeSchedules_EmployeeId1]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmployeeSchedules_EmployeeId1] ON [dbo].[EmployeeSchedules]
(
	[EmployeeId1] ASC
)
WHERE ([EmployeeId1] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeServiceAssignments_ServiceId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeServiceAssignments_ServiceId] ON [dbo].[EmployeeServiceAssignments]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeTimeBlocks_WorkingDayId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeTimeBlocks_WorkingDayId] ON [dbo].[EmployeeTimeBlocks]
(
	[WorkingDayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeWorkingDays_EmployeeScheduleId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeWorkingDays_EmployeeScheduleId] ON [dbo].[EmployeeWorkingDays]
(
	[EmployeeScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_BusinessId_Rating]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_BusinessId_Rating] ON [dbo].[Reviews]
(
	[BusinessId] ASC,
	[Rating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Services_BusinessId]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Services_BusinessId] ON [dbo].[Services]
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 04/03/2026 03:55:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BusinessSchedules] ADD  DEFAULT ((30)) FOR [AppointmentDuration]
GO
ALTER TABLE [dbo].[BusinessSettings] ADD  DEFAULT ((15)) FOR [BufferTime]
GO
ALTER TABLE [dbo].[BusinessSettings] ADD  DEFAULT ((0)) FOR [MaxAdvanceBookingDays]
GO
ALTER TABLE [dbo].[BusinessWorkingDays] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsOpen]
GO
ALTER TABLE [dbo].[EmployeeSchedules] ADD  DEFAULT ((30)) FOR [AppointmentDuration]
GO
ALTER TABLE [dbo].[EmployeeWorkingDays] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsOpen]
GO
ALTER TABLE [dbo].[Appointments]  WITH NOCHECK ADD  CONSTRAINT [FK_Appointments_Businesses_BusinessId] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Businesses] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Businesses_BusinessId]
GO
ALTER TABLE [dbo].[Appointments]  WITH NOCHECK ADD  CONSTRAINT [FK_Appointments_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[Appointments]  WITH NOCHECK ADD  CONSTRAINT [FK_Appointments_Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Services_ServiceId]
GO
ALTER TABLE [dbo].[Appointments]  WITH NOCHECK ADD  CONSTRAINT [FK_Appointments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Users_UserId]
GO
ALTER TABLE [dbo].[AppointmentStatusHistory]  WITH NOCHECK ADD  CONSTRAINT [FK_AppointmentStatusHistory_Appointments_AppointmentId] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppointmentStatusHistory] CHECK CONSTRAINT [FK_AppointmentStatusHistory_Appointments_AppointmentId]
GO
ALTER TABLE [dbo].[BusinessBreakTimes]  WITH NOCHECK ADD  CONSTRAINT [FK_BusinessBreakTimes_BusinessWorkingDays_WorkingDayId] FOREIGN KEY([WorkingDayId])
REFERENCES [dbo].[BusinessWorkingDays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusinessBreakTimes] CHECK CONSTRAINT [FK_BusinessBreakTimes_BusinessWorkingDays_WorkingDayId]
GO
ALTER TABLE [dbo].[Businesses]  WITH NOCHECK ADD  CONSTRAINT [FK_Businesses_Users_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Businesses] CHECK CONSTRAINT [FK_Businesses_Users_OwnerId]
GO
ALTER TABLE [dbo].[BusinessImages]  WITH NOCHECK ADD  CONSTRAINT [FK_BusinessImages_Businesses_BusinessId] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Businesses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusinessImages] CHECK CONSTRAINT [FK_BusinessImages_Businesses_BusinessId]
GO
ALTER TABLE [dbo].[BusinessSchedules]  WITH NOCHECK ADD  CONSTRAINT [FK_BusinessSchedules_Businesses_BusinessId] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Businesses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusinessSchedules] CHECK CONSTRAINT [FK_BusinessSchedules_Businesses_BusinessId]
GO
ALTER TABLE [dbo].[BusinessSettings]  WITH NOCHECK ADD  CONSTRAINT [FK_BusinessSettings_Businesses_BusinessId] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Businesses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusinessSettings] CHECK CONSTRAINT [FK_BusinessSettings_Businesses_BusinessId]
GO
ALTER TABLE [dbo].[BusinessTimeBlocks]  WITH NOCHECK ADD  CONSTRAINT [FK_BusinessTimeBlocks_BusinessWorkingDays_WorkingDayId] FOREIGN KEY([WorkingDayId])
REFERENCES [dbo].[BusinessWorkingDays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusinessTimeBlocks] CHECK CONSTRAINT [FK_BusinessTimeBlocks_BusinessWorkingDays_WorkingDayId]
GO
ALTER TABLE [dbo].[BusinessWorkingDays]  WITH NOCHECK ADD  CONSTRAINT [FK_BusinessWorkingDays_BusinessSchedules_BusinessScheduleId] FOREIGN KEY([BusinessScheduleId])
REFERENCES [dbo].[BusinessSchedules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusinessWorkingDays] CHECK CONSTRAINT [FK_BusinessWorkingDays_BusinessSchedules_BusinessScheduleId]
GO
ALTER TABLE [dbo].[EmployeeBreakTimes]  WITH NOCHECK ADD  CONSTRAINT [FK_EmployeeBreakTimes_EmployeeWorkingDays_WorkingDayId] FOREIGN KEY([WorkingDayId])
REFERENCES [dbo].[EmployeeWorkingDays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeBreakTimes] CHECK CONSTRAINT [FK_EmployeeBreakTimes_EmployeeWorkingDays_WorkingDayId]
GO
ALTER TABLE [dbo].[Employees]  WITH NOCHECK ADD  CONSTRAINT [FK_Employees_Businesses_BusinessId] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Businesses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Businesses_BusinessId]
GO
ALTER TABLE [dbo].[Employees]  WITH NOCHECK ADD  CONSTRAINT [FK_Employees_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Users_UserId]
GO
ALTER TABLE [dbo].[EmployeeSchedules]  WITH NOCHECK ADD  CONSTRAINT [FK_EmployeeSchedules_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeSchedules] CHECK CONSTRAINT [FK_EmployeeSchedules_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[EmployeeSchedules]  WITH NOCHECK ADD  CONSTRAINT [FK_EmployeeSchedules_Employees_EmployeeId1] FOREIGN KEY([EmployeeId1])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[EmployeeSchedules] CHECK CONSTRAINT [FK_EmployeeSchedules_Employees_EmployeeId1]
GO
ALTER TABLE [dbo].[EmployeeServiceAssignments]  WITH NOCHECK ADD  CONSTRAINT [FK_EmployeeServiceAssignments_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeServiceAssignments] CHECK CONSTRAINT [FK_EmployeeServiceAssignments_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[EmployeeServiceAssignments]  WITH NOCHECK ADD  CONSTRAINT [FK_EmployeeServiceAssignments_Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[EmployeeServiceAssignments] CHECK CONSTRAINT [FK_EmployeeServiceAssignments_Services_ServiceId]
GO
ALTER TABLE [dbo].[EmployeeTimeBlocks]  WITH NOCHECK ADD  CONSTRAINT [FK_EmployeeTimeBlocks_EmployeeWorkingDays_WorkingDayId] FOREIGN KEY([WorkingDayId])
REFERENCES [dbo].[EmployeeWorkingDays] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeTimeBlocks] CHECK CONSTRAINT [FK_EmployeeTimeBlocks_EmployeeWorkingDays_WorkingDayId]
GO
ALTER TABLE [dbo].[EmployeeWorkingDays]  WITH NOCHECK ADD  CONSTRAINT [FK_EmployeeWorkingDays_EmployeeSchedules_EmployeeScheduleId] FOREIGN KEY([EmployeeScheduleId])
REFERENCES [dbo].[EmployeeSchedules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeWorkingDays] CHECK CONSTRAINT [FK_EmployeeWorkingDays_EmployeeSchedules_EmployeeScheduleId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH NOCHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
ALTER TABLE [dbo].[Reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_Reviews_Appointments_AppointmentId] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Appointments_AppointmentId]
GO
ALTER TABLE [dbo].[Reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_Reviews_Businesses_BusinessId] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Businesses] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Businesses_BusinessId]
GO
ALTER TABLE [dbo].[Reviews]  WITH NOCHECK ADD  CONSTRAINT [FK_Reviews_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users_UserId]
GO
ALTER TABLE [dbo].[Services]  WITH NOCHECK ADD  CONSTRAINT [FK_Services_Businesses_BusinessId] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Businesses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Businesses_BusinessId]
GO
ALTER TABLE [dbo].[WompiTransactions]  WITH NOCHECK ADD  CONSTRAINT [FK_WompiTransactions_Appointments_AppointmentId] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WompiTransactions] CHECK CONSTRAINT [FK_WompiTransactions_Appointments_AppointmentId]
GO
USE [master]
GO
