.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;

  ion-spinner {
    margin-bottom: 1rem;
  }

  p {
    color: var(--ion-color-medium);
  }
}
