.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

ion-card {
  margin: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-section {
  padding: 1rem;

  p {
    color: var(--ion-color-medium);
  }
}
